{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>WeatherData Demo </title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Using Golang/SQL</h1>   
{{ end }}

