{{ define "Menu" }}
<a href="/Weather">All Weather Data</a> |
<a href="/Weather?date=08/21/2021">Filtered Weather Data</a> |
<a href="/new">Add New Weather Data </a> |
<a href="/erase">Erase all Weather Data </a> |
 
{{ end }}

